.over-wrap-2 {
    display: flex;
}

.article-wrap {
    width: 65%;
    max-width: 731px;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 35px;
    box-sizing: border-box;
    .article {
        width: 310px;
        box-shadow: 1px 1px 6px #00000029;
        margin-bottom: 50px;
        h3 {
            padding: 26px 0 26px 17px;
        }
        .nothing {
            width: 275px;
            height: 1px;
            background-color: #e6e6e6;
            margin-left: 17px;
        }
        p {
            margin: 19px 28px 19px 17px;
        }
    }
}